
    {{!-- <div class="col-3 offset-md-5">

        <form>
			<div class="form-group">
				<label for="burger">Add a burger</label>
				<input type="text" class="form-control" id="newinput">
				<button id='addBurger' class='btn btn-primary' type='submit'>Add a burger!!!</button>
			</div>
		</form>
    </div> --}}

    <div class="row">
        <div class="col">

        <h3>Burgers ready to be devoured!
            <ul>
                {{#each burgers}}
                {{!-- if this burger is not devoured, display --}}
                    {{#unless devoured}}
                      {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </h3>
    </div>

    <div class="col">
        <h3>Burgers already devoured!
            <ul>
                {{#each burgers}}
                {{!-- if this burger is devoured then display --}}
                    {{#if devoured}}
                    {{!-- <li>{{id}}. {{this.burger_name}}</li> --}}
                      {{> burgers/burger-block devoured= true}}
                    {{/if}}
                {{/each}}
            </ul>
        </h3>
    </div>
</div>
