<li>
    {{!-- {{burger_name}} --}}

	
		{{#unless devoured}}Devoure It!
		<button class='eat' data-id="{{id}}" data-newcondition="{{devoured}}">

		</button>
		{{/unless}}
	

	{{!-- <button class="delete" data-id="{{this.id}}">DELETE!</button> --}}
</li>