h1 {
    text-align: center;
}
img {
    margin:0 auto;
}
#submit {
    text-align: center;
}
.form-group{
    text-align: center;
}

.devoured {
  background-color: #6eb567;
  color: white;
}
.devoured:hover {
  background-color: #62915d;
}
